.chat-main {

    width: 100%;
}


/* USER DISPLAY */
.users {

    height: 100vh;
    background-image: url('https://i.pinimg.com/736x/64/33/f1/6433f18fc147c09b29c39fe8879a3f11.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


/* CHAT DISPLAY */
.chats {

    height: 100vh;
    background-image: url('https://e0.pxfuel.com/wallpapers/631/72/desktop-wallpaper-black-inspirational-high-quality-all-blacks-2018-64-for-you-left-of-the-hudson-pure-dark.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 0px 0px 0px !important;
}


/* SEARCH BAR */
.serach-user input {

    width: 98%;
    padding: 0.8rem 0rem 0.8rem 2rem;
    border: none;
    border-radius: 22px;
    outline: none;
    background-color: transparent;


}

.serach-user {

    display: flex;
    justify-content: center;
    background-color: aliceblue;
    border-radius: 30px;
    padding-left: 1rem;
    padding-right: 0.8rem;

}



/* Friends list */


.frnd {

    background-color: #0000005d;
    padding: 0.5rem 0rem 0.5rem 2rem;
    border-radius: 40px;
    transition: all ease-in-out 0.4s;
    cursor: pointer;

}

.frnd:hover {

    background-color: #000;

}

.frnd h5 {


    color: aqua !important;
    font-weight: 900;

}

.frnd-profile {

    width: 18%;
    position: relative;

}


.frnd-profile p {

    background-color: rgb(18, 18, 18);
    font-size: 2rem;
    width: 90%;
    text-align: center;
    border-radius: 50px;
    margin-bottom: 0px !important;
    cursor: pointer;

}

.frnd-profile i {

    color: rgb(27, 226, 27);
    position: absolute;
    top: 15px;
    right: 9px;

}

.frnd-profile img {

    border-radius: 50px;
    cursor: pointer;
    border: 1px solid #000000;
}


.chat-scroll {

    overflow-y: auto;
    max-height: 80%;

}

.chat-scroll::-webkit-scrollbar {

    display: none;
}

.add-groups button {

    background-color: transparent;
    border: none;
    color: #a4a4a4;
    font-size: x-large;



}

::-webkit-scrollbar {
    width: 10px;
    height: 10rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #222121c2;
    border-radius: 6px;
}

.online-offline p{

    margin-bottom: 0px !important;
    margin-left: 1rem;

}


/* Responsive */

@media only screen and (min-width: 991px) and (max-width: 1200px) {

    .users {

        width: 30% !important;
    }

    .chats {

        width: 70% !important;
    }


}



@media only screen and (min-width: 768px) and (max-width: 991px) {

    .users {

        width: 40% !important;
    }

    .chats {

        width: 60% !important;
    }


}

@media only screen and (max-width: 768px) {

    .chat-main {

        position: relative;
    }

    .chats {

        position: absolute;
        top: 0;
    }



    .chatdisplay1 {

        display: none;
    
    }

}